In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("vehicles.csv")

C:\Users\Saleh Alkhalifa\AppData\Local\Temp\ipykernel_2864\3059042137.py:1: DtypeWarning: Columns (73,74,76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("vehicles.csv")

In [12]:
df.shape

(40081, 83)

In [8]:
df.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40081 entries, 0 to 40080
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        40081 non-null  float64
 1   barrelsA08       40081 non-null  float64
 2   charge120        40081 non-null  float64
 3   charge240        40081 non-null  float64
 4   city08           40081 non-null  int64
 5   city08U          40081 non-null  float64
 6   cityA08          40081 non-null  int64
 7   cityA08U         40081 non-null  float64
 8   cityCD           40081 non-null  float64
 9   cityE            40081 non-null  float64
 10  cityUF           40081 non-null  float64
 11  co2              40081 non-null  int64
 12  co2A             40081 non-null  int64
 13  co2TailpipeAGpm  40081 non-null  float64
 14  co2TailpipeGpm   40081 non-null  float64
 15  comb08           40081 non-null  int64
 16  comb08U          40081 non-null  float64
 17  combA08          40081 non-null  int64
 18  combA08U         40081 non-null  float64
 19  combE            40081 non-null  float64
 20  combinedCD       40081 non-null  float64
 21  combinedUF       40081 non-null  float64
 22  cylinders        39910 non-null  float64
 23  displ            39912 non-null  float64
 24  drive            38892 non-null  object
 25  engId            40081 non-null  int64
 26  eng_dscr         24182 non-null  object
 27  feScore          40081 non-null  int64
 28  fuelCost08       40081 non-null  int64
 29  fuelCostA08      40081 non-null  int64
 30  fuelType         40081 non-null  object
 31  fuelType1        40081 non-null  object
 32  ghgScore         40081 non-null  int64
 33  ghgScoreA        40081 non-null  int64
 34  highway08        40081 non-null  int64
 35  highway08U       40081 non-null  float64
 36  highwayA08       40081 non-null  int64
 37  highwayA08U      40081 non-null  float64
 38  highwayCD        40081 non-null  float64
 39  highwayE         40081 non-null  float64
 40  highwayUF        40081 non-null  float64
 41  hlv              40081 non-null  int64
 42  hpv              40081 non-null  int64
 43  id               40081 non-null  int64
 44  lv2              40081 non-null  int64
 45  lv4              40081 non-null  int64
 46  make             40081 non-null  object
 47  model            40081 non-null  object
 48  mpgData          40081 non-null  object
 49  phevBlended      40081 non-null  bool
 50  pv2              40081 non-null  int64
 51  pv4              40081 non-null  int64
 52  range            40081 non-null  int64
 53  rangeCity        40081 non-null  float64
 54  rangeCityA       40081 non-null  float64
 55  rangeHwy         40081 non-null  float64
 56  rangeHwyA        40081 non-null  float64
 57  trany            40070 non-null  object
 58  UCity            40081 non-null  float64
 59  UCityA           40081 non-null  float64
 60  UHighway         40081 non-null  float64
 61  UHighwayA        40081 non-null  float64
 62  VClass           40081 non-null  object
 63  year             40081 non-null  int64
 64  youSaveSpend     40081 non-null  int64
 65  guzzler          2377 non-null   object
 66  trans_dscr       15047 non-null  object
 67  tCharger         6302 non-null   object
 68  sCharger         796 non-null    object
 69  atvType          3374 non-null   object
 70  fuelType2        1547 non-null   object
 71  rangeA           1542 non-null   object
 72  evMotor          736 non-null    object
 73  mfrCode          9263 non-null   object
 74  c240Dscr         65 non-null     object
 75  charge240b       40081 non-null  float64
 76  c240bDscr        63 non-null     object
 77  createdOn        40081 non-null  object
 78  modifiedOn       40081 non-null  object
 79  startStop        8377 non-null   object
 80  phevCity         40081 non-null  int64
 81  phevHwy          40081 non-null  int64
 82  phevComb         40081 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 25.1+ MB

In [10]:
df.describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,40081.000000,40081.000000,40081.0,40081.000000,40081.000000,40081.000000,40081.000000,40081.000000,40081.000000,40081.000000,...,40081.000000,40081.000000,40081.000000,40081.000000,40081.000000,40081.000000,40081.000000,40081.000000,40081.000000,40081.000000
mean,17.363564,0.220069,0.0,0.036086,18.213318,5.494777,0.616077,0.466164,0.000471,0.274113,...,22.981798,0.789437,34.105932,1.076877,2001.068586,-4134.565006,0.007497,0.122851,0.123375,0.122527
std,4.597119,1.143270,0.0,0.534894,7.397433,11.027993,4.739349,4.563736,0.039282,3.513989,...,10.473444,6.612445,10.790921,7.205627,10.908967,3256.499139,0.195365,2.599224,2.510273,2.542274
min,0.060000,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1984.000000,-29000.000000,0.000000,0.000000,0.000000,0.000000
25%,14.330870,0.000000,0.0,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.110500,0.000000,27.661300,0.000000,1991.000000,-5750.000000,0.000000,0.000000,0.000000,0.000000
50%,16.480500,0.000000,0.0,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,21.296500,0.000000,33.024600,0.000000,2002.000000,-4000.000000,0.000000,0.000000,0.000000,0.000000
75%,19.388824,0.000000,0.0,0.000000,20.000000,12.273600,0.000000,0.000000,0.000000,0.000000,...,25.700000,0.000000,38.839200,0.000000,2011.000000,-2000.000000,0.000000,0.000000,0.000000,0.000000
max,47.087143,18.311667,0.0,12.000000,150.000000,150.000000,145.000000,145.083500,5.350000,122.000000,...,224.800000,207.262200,182.700000,173.143600,2019.000000,5250.000000,8.500000,97.000000,81.000000,88.000000